body {
    background-image: url("nightsky.jpeg");
    background-color: black;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.container h1{
    font-family: 'Hoefler Text';
    color: white;
    display: flex;
    justify-content: center;
}


/* .main-heading h1 {
    font-family: 'Hoefler Text';
    color: white;
    display: flex;
    justify-content: center;
} */

.welcome-to {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 7%;
    margin-bottom: 2.5%;
}

.world-of-constellations {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 12px;
}

#season-select {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 20%; */
    height: 60px;
    width: 730px;
    padding: 0px 0px 0px 20px;
    font-family: 'SF Pro Rounded';
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 5px;
    border-radius: 3px;
}

.pick-season {
    text-align: center;
}

.pick-season-dropdown {
    margin-top: 40px;
    margin-bottom: 50px;
}

.dropdown {
    margin-bottom: 40px;
}

.row {
    display: none;
}

.row img {
    width: 330px;
}

.rectangle {
    background:rgba(255, 255, 255, 0.3);
    height: 580px;
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
